In [27]:
def alphabet(word):
    
    allDictTwo = {"a" : 1, "b" : 2, "c" : 3, "d" : 4, "e" : 5, "f" : 6, "g" : 7, "h" : 8, "i" : 9, "j" : 10,
                  "k" : 11, "l" : 12, "m" : 13, "n" : 14, "o" : 15, "p" : 16, "q" : 17, "r" : 18, "s" : 19, "t" : 20, "u" : 21, "v" : 26,
                  "w" : 23, "x" : 24, "y" : 25, "z" : 26}
    return allDictTwo[word]

In [39]:

a="Rishabh"
a=list(a)
for i in a:
    i=i.lower()
    print(i+" equal ",alphabet(i))

r equal  18
i equal  9
s equal  19
h equal  8
a equal  1
b equal  2
h equal  8

In [31]:
letters = "aadarsh"

numbers = []
for letter in letters:
  number = ord(letter) - 96
  numbers.append(number)

print(numbers)

[1, 1, 4, 1, 18, 19, 8]

In [6]:
n=int(input("enter the no of rows"))
space=n-1
for i in range (1,n+1):
    for j in range(0,space+1):
        print(end=" ")
    space=space-1
    for j in range(0,(2*i-1)):
        print("*",end="")
    print('\n')

enter the no of rows10
          *

         ***

        *****

       *******

      *********

     ***********

    *************

   ***************

  *****************

 *******************